<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #0f59fa;
            font-size: 4;
            margin-left: 5px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('main') }}">Calibrate</a>
        <a href="{{ url_for('data') }}">Graphs</a>
        <a href="{{ url_for('help') }}">Help</a>
        
    </nav>
    <hr>
    <div class="content">
        <h1>Calibration Results</h1>
        <p>Below are your accuracy and frequency scores</p>
        <img src="static/accuracy.png" style="width:600px;height:600px;">
        <img src="static/scores.png" style="width:600px;height:600px;">
        <img src="static/counts.png" style="width:600px;height:600px;">
    </div>
</body>
</html>
