<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #0f59fa;
            font-size: 4;
            margin-left: 5px;
            text-decoration: none;
        }

    </style>
</head>
<body>

    <nav>
        <a href="{{ url_for('main') }}">Calibrate</a>
        <a href="{{ url_for('data') }}">Graphs</a>
        
    </nav>
    <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    </div>
    <hr>
    <div class="content">
        <div><embed src="static/chessImg.pdf" width="500" height="550"></div>

        <form method="post">
            <label for="lower">Lower Bound</label>
            <br>
            <input type="text" name="lower"
                   placeholder="0"
                   value="{{ request.form['lower'] }}"></input>
            <br>
    
            <label for="upper">Upper Bound</label>
            <br>
            <input type="text" name="upper"
                   placeholder="0"
                   value="{{ request.form['upper'] }}"></input>
            <br>

            <br>
            <label for="confidence">Choose a confidence interval:</label>
            <select id="confidence" name="confidence">
              <option value=".5">50%</option>
              <option value=".6">60%</option>
              <option value=".7">70%</option>
              <option value=".8">80%</option>
              <option value=".9">90%</option>
            </select>
            <br>

            <button type="submit">Submit</button>
        </form>

        <p>{{mg}}</p>
        <!-- <form action="/action_page.php">
            <label for="fname">Lower Bound:</label>
            <input type="text" id="fname" name="lowerb"><br><br>
            <label for="lname">Upper Bound:</label>
            <input type="text" id="lname" name="upperb"><br><br>
            <input type="submit" value="Submit">
        </form> -->
    </div>
</body>
</html>
